emacs-custom.el
.smex-items
elpa/
places
abbrev_defs
url/cookies
auto-save-list/
backups/
plugins/
tramp
eshell/
customize-melpa.el
*~
*.desktop
*.lock
snippets/cperl-mode/.yas-compiled-snippets.el
before-init.el
after-init.el
*.dat
undohist/
*.eld
